body {
  margin: 0;
  padding: 0;
  font-family: Blinker, system-ui, sans-serif; }

.row {
  display: flex;
  justify-content: center;
  width: 100%; }

.container {
  width: 100%;
  max-width: 1280px;
  padding: 16px;
  box-sizing: border-box; }
  .container.nopad-top {
    padding-top: 0; }
  .container.nopad-bottom {
    padding-bottom: 0; }

.btn {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  border-radius: 8px;
  background-color: #2D58A7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 0; }

.card {
  position: relative;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/dome-logo-element-colour.png");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    /* Adjust the opacity as needed */
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    background-color: rgba(45, 88, 167, 0.5);
    border-radius: 8px; }
  .card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2D58A7;
    margin: 0;
    display: flex;
    flex-direction: column; }

nav {
  background-color: #2D58A7;
  display: flex;
  justify-content: center;
  color: #fff;
  height: 73.66px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  nav .categorys {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px; }

.navf {
  height: 73.66px; }

.hero {
  margin-bottom: 16px;
  background: url("../images/hero.jpg");
  background-size: cover;
  color: #fff;
  background-position: bottom center; }
  .hero .container {
    padding-top: 90px;
    padding-bottom: 90px; }
  .hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .hero h2 {
    font-size: 60px;
    font-weight: 800;
    color: #dde6f6;
    margin: 0;
    margin-bottom: 16px; }
  .hero h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 32px; }

.search_box .search {
  display: grid;
  grid-template-columns: 1fr auto; }
.search_box .input {
  padding: 10px;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px; }
.search_box .box {
  padding: 10px;
  background-color: #2D58A7;
  color: #fff;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px; }

.slider .slider_in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px; }
.slider .card.active {
  border: 3px solid #2D58A7; }
.slider .card .lineb {
  margin-bottom: 5px; }
.slider .card .last {
  border-top: 1px solid;
  padding-top: 5px;
  margin-top: auto; }
  .slider .card .last span {
    background-color: #a4cafe;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 10px;
    margin-top: auto;
    border-radius: 20px; }

.titlebox h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  color: #2D58A7; }
.titlebox p {
  color: #6b7280;
  margin: 0px; }
.titlebox .container {
  display: flex;
  align-items: center;
  flex-direction: column; }

.controles_in {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid #b5b5b5;
  padding: 10px;
  border-radius: 8px; }
  .controles_in .fas::before {
    font-size: 10px; }
  .controles_in .prev, .controles_in .next {
    cursor: pointer;
    display: flex;
    align-items: center; }
  .controles_in .pp {
    padding: 0 5px; }
  .controles_in .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; }
    .controles_in .dots .dot {
      width: 10px;
      height: 10px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer; }
      .controles_in .dots .dot.active {
        background-color: #333; }

.gridcat {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 16px; }

.filters {
  border: 1px solid #b5b5b5;
  border-radius: 8px; }
  .filters .fa-chevron-down::before {
    font-size: 12px;
    padding: 5px; }
  .filters .fas.hide {
    opacity: 0; }
  .filters .parent {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto auto;
    border-top: 1px solid #b5b5b5;
    padding: 10px; }
    .filters .parent:first-child {
      border-top: none; }
    .filters .parent.sub .text {
      opacity: 0.6; }
  .filters .text {
    padding-right: 5px; }

.offer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px; }
  .offer-list .imgOffer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0; }
  .offer-list .img_parent {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative; }
  .offer-list .badge {
    background-color: #2D58A7;
    color: #fff;
    border-radius: 8px;
    padding: 2px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 7px; }
  .offer-list .fl {
    display: flex; }
  .offer-list .badges {
    display: grid;
    grid-gap: 5px;
    font-size: 12px;
    margin-bottom: 20px; }
  .offer-list .markdown {
    color: #4b5563;
    font-weight: 700; }

.form-p h2 {
  text-align: center;
  color: #2D58A7; }
.form-p .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%; }
.form-p .form-toggle {
  display: grid;
  width: 100%;
  margin-bottom: 20px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; }
.form-p .form-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #2D58A7;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px; }
.form-p .form-toggle button:hover {
  background-color: #2D58A7; }
.form-p .form-toggle button.active {
  background-color: #2D58A7; }
.form-p .form {
  display: flex;
  flex-direction: column;
  width: 100%; }
.form-p .form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; }
.form-p .form button {
  padding: 10px;
  border: none;
  background-color: #2D58A7;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px; }
.form-p .form button:hover {
  background-color: #2680e1; }
.form-p .hidden {
  display: none; }
.form-p .flex2 {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (73.66px + 51.25px));
  justify-content: center;
  align-items: center; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  height: 51.25px; }
  footer .gridf {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    color: #6b7280;
    font-size: 14px; }
  footer .flexf {
    display: flex;
    justify-content: end; }

.footerf {
  height: 51.25px; }

.newforms h1 {
  color: #2D58A7; }
.newforms h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 0; }
  .newforms h1.no {
    margin-bottom: 0px;
    border-bottom: none; }
.newforms form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: #dfdfdf;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc; }
.newforms .input-p {
  display: flex;
  flex-direction: column; }
.newforms button {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  border-radius: 8px;
  background-color: #2D58A7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 0;
  padding: 10px; }
.newforms .action {
  grid-column: 1 / -1; }
.newforms .formg1 {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .newforms .formg1 > h2 {
    margin-top: 0;
    font-size: 18px; }
.newforms .gridlast {
  display: grid;
  grid-gap: 16px; }
.newforms .box {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc; }
.newforms .grids {
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: 1fr 1fr; }
.newforms input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px; }
.newforms label {
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 2px;
  color: #606060; }
.newforms .grid45 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px; }
  .newforms .grid45.a2 {
    grid-template-columns: 1fr; }
    .newforms .grid45.a2 h2 {
      grid-column: 1 / -1; }
    .newforms .grid45.a2 .formg1 {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-gap: 10px;
      align-items: flex-start; }
    .newforms .grid45.a2 p {
      margin-top: 0; }
.newforms .action.last {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px; }
.newforms .ff {
  display: flex; }
.newforms table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px; }
  .newforms table td {
    padding: 10px;
    border: 1px solid #ccc; }
  .newforms table tr:nth-child(even) {
    background-color: #f9f9f9; }
  .newforms table tr:nth-child(odd) {
    background-color: #fff; }
  .newforms table td:first-child {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #2D58A7; }
.newforms .box.b2 {
  min-height: 200px; }
.newforms ul, .newforms ol {
  padding-left: 40px;
  margin-bottom: 25px;
  margin-top: 25px; }
  .newforms ul li, .newforms ol li {
    margin-bottom: 8px;
    line-height: 1.5; }

/*# sourceMappingURL=style.css.map */
