.gridcat {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 16px;
}

.filters {
    .fa-chevron-down::before {
        font-size: 12px;
        padding: 5px;
    }
    .fas.hide {
        opacity: 0;
    }
   
    border: 1px solid $bcolor;
    border-radius: $radius;
    .parent {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr auto auto;
        border-top: 1px solid $bcolor;
        padding: 10px;
        &:first-child {
            border-top: none;
        }
        &.sub {
            .text {
                opacity: 0.6;
            }
        }
    }
    .text {
        padding-right: 5px;
    }

}
